<!-- <app-form-search></app-form-search> -->
<div>
    <h2 class="text-center pt-4 ">GitHub Repositories</h2>
</div>
<div class="mt-3 ml-2 ">
    <div class="card mt-3 w-50 " *ngFor="let repos of repo">

        <p class="text-center pt-4">
            {{repos.name}}
        </p>
        <hr>
        <p>
            {{repos.description}}
        </p>
       
        <p>
            {{repos.language}}
        </p>
        <p>
            {{repos.created_at}}
        </p>
       
        <!-- <p>
            {{repos.branches}}
        </p> -->
       </div>

</div>


